* {
    margin: 0;
    padding: 0;
}

  /* NAV */
  .brandLogo {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem 0 1rem 1rem;
  }
  
  h1 {
    display: inline-block;
    margin: -0.8rem 0 0 0;
    font-family: "Lora", serif;
    font-size: 2rem;
    font-weight: 400;
  }
  h1 a {
    text-decoration: none;
    color: transparent;
    color: black;
  }
  h1 a:hover {
    color: black;
  }
  h1 a:after {
    content: "";
    height: 0px;
    background: rgba(0, 0, 0, 0);
    display: block;
    transition: width 0.3s ease-in-out;
    margin: 0 auto;
  }
  h1 a:before {
    width: 0%;
    color: black;
  }
  .subTitulo {
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 0.7rem;
    position: absolute;
    margin: 1.5rem 1rem 0rem 1.7rem ;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: start;
    background: linear-gradient(135deg, white 20%, #41e2d2, #dbf288);
    margin-top: 0.5rem;
    position: fixed;
    margin-left: 0rem;
    z-index: 3;
    border-end-start-radius: 100px;
    border-start-start-radius: 100px;
  }
  ul.ul-nav {
    display: flex;
    list-style: none;
    margin: 1rem 0;
    background-color: transparent;
    padding-right: 5%;
  }
  li.li-nav {
    margin:1rem auto;
    text-align: center;
    list-style-type: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  li a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    transition-duration: 1s;
    display: inline-block;
  }
  a.a-nav:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  a:before,
  a:after {
    content: "";
    height: 2px;
    background: rgba(0, 0, 0, 0.63);
    display: block;
    transition: width 0.3s ease-in-out;
    margin: 0 auto;
  }
  
  a:before {
    width: 100%;
  }
  
  a:after {
    width: 0;
  }
  
  a:hover:before {
    width: 0;
  }
  
  a:hover:after {
    width: 100%;
  }
  .contenedor-nav {
    margin: 0 0 0 1rem;
    padding: 0;
  }
  ul.ul-footer-rrss {
    display: flex;
    list-style: none;
    margin: auto;
    background-color: transparent;
    padding: 0 auto;
    width: 100%;
  }
  ul.ul-footer li {
    margin: 0;
    padding: 0;
  }
  
a.a-footer-f {
    color: #3b5998;
  }
  a.a-footer-y {
    color: #c4302b;
  }
  a.a-footer-w {
    color: #00bb2d;
  }
  a.a-footer:before,
  a-footer:after {
    width: 0%;
  }
  a.a-footer:hover:after {
    width: 0%;
  }
  ul.ul-footer {
    list-style: none;
  }
  li.li-footer {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  